include README.md
include LICENSE
include CHANGELOG.md
include requirements.txt
include config.yaml
include config.example.yaml
include .env.example
include ENVIRONMENT_SETUP.md
recursive-include eks_validator *.py
recursive-include eks_validator/templates *.j2
recursive-include eks_validator/templates *.md
recursive-include eks_validator/templates *.html
recursive-include eks_validator/templates *.yaml
recursive-include eks_validator/templates *.yml
recursive-include docs *.md
global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .DS_Store
prune .git
prune .github
prune tests
prune venv
prune __pycache__
prune .pytest_cache
prune .mypy_cache
prune .tox
prune build
prune dist
prune *.egg-info
